[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/solmate"]
	path = lib/solmate
	url = https://github.com/Rari-Capital/solmate
[submodule "lib/lsp-smart-contracts"]
	path = lib/lsp-smart-contracts
	url = https://github.com/lukso-network/lsp-smart-contracts
